<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product
    Name='xUnit.net Resharper Plugin for R# v$(var.ResharperVersion)'
    UpgradeCode='E7829487-6C36-4AAF-8585-36A2720B4E8C'
    Id='9E8FA400-2541-43B3-AAEC-67D06D61227F'
    Language='1033'
    Manufacturer='Ultraviolet Catastrophe'
    Version='2.0'>

    <Package
        Keywords='Installer'
			  Description="xUnit.net Resharper Plugin for R# v$(var.ResharperVersion)"
			  Comments='xUnit.net Resharper Plugin for R# v$(var.ResharperVersion)'
        Manufacturer='Ultraviolet Catastrophe'
			  InstallerVersion='150'
        Languages='1033'
        Compressed='yes'
        SummaryCodepage='1252' />

    <Property Id="ALLUSERS">1</Property>

    <Media Id='1' Cabinet='Installer.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='Program Files'>
        <Directory Id='af26709d9b' Name='JetBrains'>
          <Directory Id='edf9425c02' Name='ReSharper'>
            <Directory Id='a7aa91b14b' Name='v$(var.ResharperMajorVersion)'>
              <Directory Id='d067703b35' Name='Bin'>

                <Directory Id='ece8d7c2d8' Name='plugins'>

                  <Component Id="Plugin" Guid="8C5FB478-CE61-4E92-B5D7-B309B58EB8A1">
                    <File Id="b059ffeffa" Name="xunitcontrib.runner.resharper.provider.dll" DiskId="1" Source="..\lib\xunitnetcontrib\xunitcontrib.runner.resharper.provider.dll" Vital="yes" />
                    <File Id="a52a6aabcd" Name="xunitcontrib.runner.resharper.runner.dll" DiskId="1" Source="..\lib\xunitnetcontrib\xunitcontrib.runner.resharper.runner.dll" Vital="yes" />
                    <File Id="c2ccec85a8" Name="xunit.runner.utility.dll" DiskId="1" Source="..\lib\xunitnetcontrib\xunit.runner.utility.dll" Vital="yes" />
                    <File Id="d296b80a5b" Name="xunit.dll" DiskId="1" Source="..\lib\xunitnetcontrib\xunit.dll" Vital="yes" />
                  </Component>

                </Directory>

                <Directory Id='ebcd2d7266' Name='ExternalAnnotations'>
                  <Directory Id='cb7fd0b074' Name='xunit'>

                    <Component Id="Annotations" Guid="B12DD46D-750A-4925-8437-EE56B65C21CC">
                      <File Id="c30ec0ffa7" Name="xunit.xml" DiskId="1" Source="..\lib\xunitnetcontrib\xunit.xml" Vital="yes" />
                    </Component>

                  </Directory>
                </Directory>
                
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

    </Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_FeatureTree" />

    <Icon Id="InstallerIcon" SourceFile="Resources\Installer.ico" />
    <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />

    <Feature Id='cb1ffc1cc4' Level='1' Title='xUnit.net Resharper Plugin' Description='Installs the xUnit.net Resharper Plugin for R# v$(var.ResharperVersion).'>
      <ComponentRef Id='Plugin' />
      <ComponentRef Id='Annotations' />
    </Feature>

  </Product>

</Wix>